html, body {
    height: 100%;
}

.fill {
    min-height: 100%;
}

.bordered-container {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.top-buffer {
    margin-top: 20px;
}

